@import '../../../vendor/sass-mq/mq';
@import '../../../vendor/frontend/app/assets/sass/variables/_border-radius.scss';
@import '../../../vendor/frontend/app/assets/sass/variables/_breakpoints.scss';
@import '../../../vendor/colors/app/assets/sass/colors.scss';
//@import '../../../vendor/frontend/app/assets/sass/mixins/_mq.scss';
// MQ mixins
//$mq-small: 640px;
//$mq-large: 900px;
// Universal
.height-100 {
  height: 100px;
  height: 10rem;
}
.height-150 {
  height: 150px;
  height: 15rem;
}

.height-300 {
  height: 300px;
  height: 30rem;
}

.height-450 {
  height: 350px;
  height: 35rem;
}

.height-600 {
  height: 400px;
  height: 40rem;
}

#cover {
  display: none;
}
.margin-bottom-30{
  margin-bottom: 30px;
  margin-bottom: 3rem;
}
html.cover {
  &.index {
    #study {
      background: #fff;
      border-radius: .4rem;
      padding: 2rem;
      position: relative;
      margin-bottom: 0rem;
      padding-bottom: 4rem;
      .lo-full {
        margin-bottom: 0;
      }
      .lo-one-third{
        padding: 0;
      }
      > header {
        width: 100%;
        float: left;
        padding-bottom: 2rem;
        border-bottom: 1px solid #eee;
      }
      article {
        h2,h3 {
          font-size: 2.2rem;
          font-weight: 300;
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 0;
        }
        img {
          max-width: 100%;
          margin-top: 0;
          margin-bottom: 0;
        }
        &.lo-one-third{
          img {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
          }
          .btn{
            width: 100%;
          }
        }
      }
      footer {
        position: absolute;
        bottom: 0;
        background: $color-primary-action;
        width: 100%;
        margin-left: -2rem;
        border-bottom-left-radius: .4rem;
        border-bottom-right-radius: .4rem;
        ul {
          margin-bottom: 0;
          margin-left: 3rem;
        }
        li {
          list-style: none;
          display: inline-block;
          margin: 0;
          //margin-right: 2rem;
          position: relative;
          a {
            line-height: 4.4rem;
            color: #fff;
            display: block;
            border-radius: 0;
            &:hover {
              background: lighten($color-primary-action, 10%);
              //color: $color-primary-action
              text-decoration: none;
              &:after {
                border-left-color: lighten($color-primary-action, 10%);
              }
            }
          }
          >a{
            padding: 0 1rem;
            padding-right: 2.5rem;
          }
          ul {
            display: none;
            position: absolute;
            width: 40rem;
            left: 0;
            z-index: 999;
            padding: 0;
            top: 100%;
            margin: 0;
            border-top: .2rem solid darken($color-primary-action, 10%);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            li {
              display: block;
              a {
                background: $color-primary-action;
                display: block;
                padding: 0 2rem;
                &:hover {
                  background: lighten($color-primary-action, 10%);
                }
              }
              &:last-child {
                a {
                  border-bottom-left-radius: .4rem;
                  border-bottom-right-radius: .4rem;
                }
              }
            }
          }
          &:hover {
            ul {
              display: block;
            }
          }
        }
        .form-inline {
          width: 200px;
          margin-bottom: 0;
          //margin-top: 8px;
        }
        .btn-link {
          &:before, &:after {
            top: 1.8rem;
          }
        }
      }
    }
  }
  &.lang-en.index {
    // Override to fix a spacing issue when the index hero-layout is combined
    // with normal page content
    #study {
      padding-bottom: 0;
    }
    #content {
      margin-top: 0;
    }
  }
  // Note: This is styling for videoes
  //---------------------------------------
  [data-page-category='hero'],
  [data-page-category='bachelor'],
  [data-page-category='master'],
  [data-page-category='flexible'] {
    #study {
      background: transparent;
      transition: background-color 0.5s ease;
      padding-bottom: 0rem;
      margin-top: -42rem;
      max-height: 43.5rem;
      article {
        text-align: center;
        h1, h2 {
          font-weight: 100;
          line-height: 2em;
          color: $black;
        }
        h1 {
          font-size: 6rem;
        }
        h2 {
          font-size: 4rem;
        }
      }
      &.light {
        h1, h2 {
          color: $black;
        }
      }
      &.dark {
        h1, h2 {
          color: $white;
        }
      }
      &:hover{
        background-color: rgba(255, 255, 255, .9);
      }
    }
  }
  // Note: This is styling for maglu landing page
  //---------------------------------------
  [data-page-category='maglu']{
    .height-600{
      height: 440px;
      height: 44rem;
    }
    #study {
      margin-top: -42rem;
      max-height: 42rem;
      padding: 2rem 2rem 0;
      iframe{
        width: 100% !important;
        height: 270px !important;

      }
    }
  }
  #cover {
    display: block;
    width: 100%;
    //position: relative;
    //height: 60rem;
    //position: absolute;
    //top: 0;
    overflow: hidden;
  }

  .cover-gfx{
    width: 100%;
    height: 160px;
    height: 16rem;
    max-width: 100%;
    overflow: hidden;
    svg{
      position: absolute;
      top: 60px;
      left: -50%;
      height: 100px;
      height: 10rem;
      //margin: 0 auto;
      //margin-left: -50%;
    }
    rect{
      width: 200%;
      height: 100px;
    }
  }

  &.lt-ie10{
    .cover-gfx{
      svg{
        left: 0;
      }
      //rect{
      //    width: 100%;
      //    height: 100px;
      //}
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .cover-gfx{
      svg{
        left: 0;
      }
      rect{
        //width: 100%;
        height: 100%;
      }
    }
  }
  .cover-gfx-research{
    svg{
      background:#347E84;
    }
    path{
      fill: #fff;
    }
  }
  .cover-gfx-homepage{
    height: 16rem;
    position: relative;
    .btn{
      position: absolute;
      top: 9.4rem;
      left: 50%;
      margin-left: -60px;
    }
  }
  // Sitewide clickable banner styling
  //#banner-forskningsdagene{
  //  position: absolute;
  //  top: 260px;
  //  right: 10%;
  //  display: block;
  //  width: 30rem;
  //  img{
  //    display: block;
  //  }
  //}
  //[data-page-category='study']{
  //  #banner-forskningsdagene{
  //    display: none;
  //  }
  //}
  .cover-gfx-about{
    path{
      fill: #347E84;
    }
  }
  .cover-gfx-admission{

  }
  .cover-gfx-studyprogram{

  }
  .cover-gfx-coursedescription{

  }
  .cover-photo {
    display: block;
    width: 120%;
    position: absolute;
    left: -10%;
    background-position: 50% 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 1em;
    //border-radius: .4rem;
    &:before {
      padding-bottom: 56.25%;
    }
  }
  .cover-photo-blur {
    opacity: 0;
  }
  // video styling
  .cover-video {
    position: absolute;
    top: 0;
    max-width: 100%;
  }
  .touch {
    .cover-video {
      min-width: 100%;
    }
  }
  .cover-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    width: 2000px;
    margin-top: 0;
  }
  @include mq($until: small) {
    #main{
      padding-top: 0;
    }
    #cover {
      overflow: visible;
    }
    .cover-gfx{

      svg{
        position: relative;
      }
    }
    [data-page-category='hero'], [data-page-category='bachelor'], [data-page-category='master'], [data-page-category='flexible'] {
      #study {
        article {
          h1 {
            font-size: 2.2rem;
          }
          h2 {
            font-size: 1.8rem;
          }
        }
      }
    }
    [data-page-category='maglu']{
      .cover{
        display: none !important;
      }
      #study {
        margin-top: 5rem;
        max-height: none;
      }
    }
    //#banner-forskningsdagene{
    //  display: none;
    //}
  }
  @include mq($from: small, $until: large) {
    #main{
      padding-top: 0;
    }
    #cover {
      overflow: visible;
    }
    .cover-gfx{

      svg{
        position: relative;
      }
    }
    [data-page-category='hero'], [data-page-category='bachelor'], [data-page-category='master'], [data-page-category='flexible'] {
      #study {
        article {
          padding-top: 0rem;
          //text-align: center;
          height: auto;
          h1 {
            font-size: 3.2rem;
          }
          h2 {
            font-size: 2.4rem;
          }
        }
      }
    }
    [data-page-category='maglu']{
      #study{
        margin-top: 5rem;
      }
      .cover{
        display: none !important;
      }
    }
  }
  @include mq($from: large) {
    [data-page-category='hero'], [data-page-category='bachelor'], [data-page-category='master'], [data-page-category='flexible'] {
      padding-top: 0;
      .cover-video{
        top: 5.4rem;
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
      }
      #study {
        article {
          padding-top: 4rem;
          //text-align: center;
          height: 50.6rem;
        }
      }
    }
  }
}




.branding {
  width: 100%;
  .logo {
    display: block;
    margin: 2rem auto;
    width: 150px;
    width: 15rem;
  }
}

.cover-quote {
  display: none;
  position: absolute;
  top: 10rem;
  left: 50%;
  margin-left: -52rem;
  width: 104rem;
  font-size: 3rem;
  color: $white;
  line-height: 1;
  font-weight: 100;
  transition: color .5s;
  border-radius: $border-radius-standard;
  padding: 0;
  padding-bottom: 1rem;
  a {
    color: #fff;
    padding: 1rem 3rem;
  }
  p {
    border-left: none;
    font-style: normal;
    line-height: 1.2;
  }
  footer {
    //display: none;
    text-align: right;
    width: 100%;
    padding-right: 3rem;
    font-size: 2rem;
  }
  &:hover {
    a {
      color: #000;
    }
    color: #000;
    text-shadow: none;
    background: transparentize($white, .2);
  }
  @include mq($until: small) {
    display: none !important;
  }
  @include mq($from: small, $until: large) {
    top: 10rem;
    font-size: 2rem;
    width: 76rem;
    margin-left: -38rem;
  }
}



html.cover {
  @include mq($from: small, $until: large) {
    [data-page-category='hero'], [data-page-category='bachelor'], [data-page-category='master'], [data-page-category='flexible'] {
      #study {
        margin-top: -32rem;
      }
    }
    #study {
      .lo-one-third {
        width: 48%;
        float: left;
        //background: pink;
        img {
          width: 100%;
        }
      }
    }
  }
  @include mq($from: large) {
    .cover-photo {
      width: 200%;
      left: -50%;
    }
    #study {
      margin-top: -38rem;
    }
  }
}
